# Terraform (local-only files)
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraformrc
terraform.rc

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env files
.env

# OS/Editor
.DS_Store
.vscode/
